DATABASE_URL="postgresql://user:pass@localhost:5432/BSCXAU?schema=public"
JWT_SECRET="super-secret-key-change-this"
REDIS_HOST="localhost"
REDIS_PORT=6379
PORT=3000

MAIL_HOST=smtp.gmail.com
MAIL_USER=quantax2026@gmail.com
MAIL_PASS="okav hxmh qttw gjyk"
MAIL_FROM="BSCXAU Support <quantax2026@gmail.com>"

FRONTEND_URL="https://quantax-omega.vercel.app, https://quantaxbo2.vercel.app"
